<h1 class="title">Breaking News</h1>
<% @stories.each do |story| %>
<article>
  <div class="panel panel-default panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title"><%= story.headline %></h1>
    </div>
    <div class="panel-body">
      <p><%= story.lead_paragraph %></p>
      <p class="source"><a href="<%= story.website %>"><%= story.host %></a></p>
    </div>
  </div>
</article>
<% end %>